@using System.Data
@using ApiEnd.Models;
@model DataTable
@{ 
    var ListeEtudiant = ViewData["Etudiant"] as List<Etudiant>;
    var ListeGroupe = ViewData["Groupe"] as List<Groupe>;
    var ListePromotion = ViewData["Promotion"] as List<Promotion>;
}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;

    }

    .filter-input {
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 300px;
    }
</style>
<script>
    function filterTable() {
        var input = document.getElementById("filterInput").value.toUpperCase();
        var table = document.getElementById("etudiantTable");
        var tr = table.getElementsByTagName("tr");
        for (var i = 0; i < tr.length; i++) {
            var tdNom = tr[i].getElementsByTagName("td")[0];
            var tdGroupe = tr[i].getElementsByTagName("td")[3];
            var tdPromotion = tr[i].getElementsByTagName("td")[4];
            if (tdNom || tdGroupe || tdPromotion) {
                var nom = tdNom.textContent || tdNom.innerText;
                var groupe = tdGroupe.textContent || tdGroupe.innerText;
                var promotion = tdPromotion.textContent || tdPromotion.innerText;
                if (nom.toUpperCase().indexOf(input) > -1 ||
                            groupe.toUpperCase().indexOf(input) > -1 ||
                        promotion.toUpperCase().indexOf(input) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<center>
    <h2>
        Liste des étudiants
    </h2>
</center>
<div>
    <h4>
        <label for="filterInput">Recherche : </label>
        <input type="text" id="filterInput" onkeyup="filterTable()" placeholder="Rechercher par groupe, nom ou promotion...">
    </h4>
    <br />
</div>
<div class="text-center">
    <table id="etudiantTable" class="table">
        <thead>
            <tr>
                <th>@Html.DisplayName("Nom")</th>
                <th>@Html.DisplayName("Prenom")</th>
                <th>@Html.DisplayName("Email")</th>
                <th>@Html.DisplayName("Groupe")</th>
                <th>@Html.DisplayName("Promotion")</th>
               

            </tr>
        </thead>
        <tbody>
            @foreach (Etudiant row1 in ListeEtudiant)
            {
                @foreach (Groupe row2 in ListeGroupe)
                {
                    @foreach (Promotion row3 in ListePromotion)
                    {
                        @if (row1.GroupeId == row2.Id & row1.PromotionId == row3.Id)
                        {
                            <tr>
                                <td>@row1.Nom</td>
                                <td>@row1.Prenom</td>
                                <td>@row1.Email</td>
                                <td>@row2.Name</td>
                                <td>@row3.Year</td>
                                
                            </tr>
                        }
                    }
                }  
            }
           @* @if(ListeEtudiant != null)
            {
                
            }*@
        </tbody>
    </table>
</div>
